/artifacts/proje2/-Fp
/artifacts/proje2/backups/pitr_base_20260609_180848
/artifacts/proje2/backups
/artifacts/proje2/pitr_restore_20260609_180848
/artifacts/proje2/pgdata
/artifacts/proje2/wal_archive
